.form {
  box-sizing: border-box;
  display: flex;
  width: 90%;
  margin: 1rem auto;
  margin-top: 5.7rem;
  padding: 1rem;
  flex-direction: column;
  height: 70vh;
}

.button {
  color: white;
  margin: 0.5rem auto;
  font-weight: bold;
  background: fuchsia;
  font-size: 1.2rem;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.button:disabled {
  color: beige;
  background: grey;
  cursor: not-allowed;
}

.modaltitle {
  font-size: 1.2rem;
  color: crimson;
}

.center {
  text-align: center;
}

.buttonmodal {
  display: inline-block;
  border: none;
  background: white;
  outline: none;
  font-size: 1.2rem;
  margin: 0 1rem;
  cursor: pointer;
}

.green {
  color: green;
}

.red {
  color: red;
}

@media (min-width: 40rem) {
  .form {
    width: 50%;
    height: 80vh;
  }
  .button {
    height: 3rem;
    width: 30%;
  }
  .button:disabled {
    height: 2rem;
    width: 28%;
  }
}
