.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem;
  align-content: center;
  background-color: white;
  height: 3.5rem;
  font-family: "Gelasio", serif;
}

.disableNav {
  display: none;
}

@media (min-width: 40rem) {
  .disableNav {
    display: block;
  }
}
