.logincontainer {
  position: relative;
  height: 90vh;
  width: 100%;
}

.loginbackground {
  position: fixed;
  height: 100vh;
  width: 100%;
  /* background: linear-gradient(to bottom right, rgb(253, 231, 235), Pink); */
  /* display: flex; */
  background-image: url("../../Assets/Buyer/Background/marianne-krohn-RNqZbnBnMQk-unsplash.jpg");
  background-size: cover;
  z-index: -10;
}
.loginbox {
  padding: 1rem;
  border-radius: 25px;
  background-color: white;
  position: relative;
  width: 80%;

  display: flex;
  flex-direction: column;

  top: 10%;
  left: 5%;
  position: relative;
}

.login {
  display: flex;
  flex-direction: column;
}

.button {
  color: white;
  margin: 0.5rem auto;
  font-weight: bold;
  background: fuchsia;
  font-size: 1.2rem;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  outline: none;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.button:disabled {
  color: beige;
  background: grey;
  cursor: not-allowed;
}

.swtichbutton {
  background-color: blueviolet;
}

.error {
  text-align: center;
  color: brown;
  font-size: 1.1rem;
}

@media (min-width: 40rem) {
  .loginbox {
    top: 18%;
    left: 40%;
    width: 20%;
  }
}
